<main class="content">
  <div class="container p-0">
    <h1 class="h3 mb-3">Messages</h1>
    <div class="card">
      <div class="row g-0">
        <div class="col-12 col-lg-5 col-xl-3 border-right">
          <!-- // search messages  -->
          <app-contact-list-search></app-contact-list-search>
          <!-- all chat  -->
          <app-contact-list></app-contact-list>
          <hr class="d-block d-lg-none mt-1 mb-0">
        </div>
        <div class="col-12 col-lg-7 col-xl-9">
          <!-- chat box header  -->
        <app-chat-box-header></app-chat-box-header>
        <!-- chatting section  -->
        <app-chat-box></app-chat-box>
          <!-- type message and send   -->
          <app-send-message></app-send-message>
        </div>
      </div>
    </div>
  </div>
</main>
